@use 'base' as *;
@use 'utilities' as *;
@use 'layout/navbar' as *;
@use 'layout/footer' as *;
@use 'layout/offers' as *;
@use 'media' as *;

.slider {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 65vh;
	width: 100%;
	color: $white;
	background-color: $dark;
	max-width: 1920px;
	margin-top: 60px;
	overflow: hidden;
	&__box {
		position: absolute;
		right: -102%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: 100vw;
		height: 100%;
		padding: 0 2em;
		background-position: center;
		opacity: 0;
		transition: right 1s, opacity 0.7s;
		z-index: 0;

		&::before {
			@include bg-shadow;
		}

		&-title {
			margin-bottom: 0.5em;
			font-size: 2.2rem;
			text-transform: uppercase;
		}

		&-text {
			margin-bottom: 1.5em;
		}

		&-link {
			color: $white;
			background-color: $dark;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 8px;
			border: 1px solid $white;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&[data-number='0'] {
			background-image: url(../img/family_big.jpg);
		}
		&[data-number='1'] {
			background-image: url(../img/school_big.jpg);
		}
		&[data-number='2'] {
			background-image: url(../img/company_big.jpg);
		}
	}

	&__btn {
		position: absolute;
		bottom: 0.5em;
		padding: 0.5em;
		color: $white;
		font-size: 4rem;
		background: none;
		border: none;
		cursor: pointer;

		&--left {
			left: 1em;
		}

		&--right {
			right: 1em;
		}
	}
}

@media (min-width: 768px) {
	.slider {
		&__box {
			padding: 2em 4em 0;
			&-title {
				margin-bottom: 0.5em;
				font-size: 3rem;
			}

			&-text {
				font-size: 1.8rem;
			}

			&-link {
				font-size: 2.2rem;
			}
		}
		&__btn {
			bottom: 50%;
			transform: translateY(50%);
		}
	}
}

.show {
	right: 0 !important;
	opacity: 1;
}
