@use 'utilities' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	height: 100vh;
}

.active {
	display: block;
}

.active-flex {
	display: flex;
}

.hide {
	display: none;
}

.nav {
	position: fixed;
	background-color: $white;
	width: 100%;
	font-size: 1.4rem;
	background-color: tomato;

	&__box {
		position: relative;

		&-close {
			display: none;
			color: $white;
		}

		&-burger,
		&-close {
			position: absolute;
			top: 15px;
			left: 20px;
			padding: 0.35em;
			font-size: 4rem;
			background: none;
			border: none;
			cursor: pointer;
			z-index: 10;
		}
	}

	&__links--mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		font-size: 3rem;
		background-color: $dark;
	}

	&__link {
		width: 60%;
		text-align: center;
		padding: 0.4em 0.8em;
		margin-bottom: 0.5em;
		color: $white;
		text-transform: uppercase;
		text-decoration: none;
		border-bottom: 3px solid $white;
	}

	&__logo {
		display: none;
	}

	&__links--desktop {
		display: none;
	}
}
