@use 'utilities' as *;
@use 'layout' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

@media (min-width: 768px) {
	.nav {
		height: 80px;

		&__box-burger,
		&__box-close {
			padding: 0.35em;
			font-size: 5rem;
			background: none;
			border: none;
			cursor: pointer;
			z-index: 10;
		}

		&__logo {
			font-size: 3.8rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		height: 100px;

		&__box {
			display: none;
		}

		&__links--desktop {
			display: flex;
		}

		&__links--mobile {
			display: none;
		}

		&__link {
			display: flex;
			align-items: center;
			color: $black;
			height: 100%;
			padding: 1em 2em;
			margin: 0;
			font-size: 1.6rem;
			border: none;
			transition: color 0.3s, background-color 0.3s;
		}

		&__link:hover,
		.active {
			color: $white;
			background-color: $black;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__link {
			font-size: 1.8rem;
		}

		&__logo {
			font-size: 4.4rem;

			img {
				width: 5.5rem;
				height: 5.5rem;
			}
		}
	}
}

.show-nav-burger {
	transform: scale(1);
	opacity: 1;
}

.show-nav-close {
	transform: rotate(0) scale(1);
	opacity: 1;
}

.show-nav {
	transform: translateX(0);
}

//animations
