@use '../utilities/colors' as *;
@use '../utilities/mixins' as *;

.offers {
	padding: 2em 1.5em;

	&__subtitle {
		text-align: center;
		font-size: 1.8rem;
		margin-bottom: 1.5em;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__card {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		margin: 1em 0;
		padding: 1.5em 0;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

		&-title {
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: 0.4em;
		}

		&-price {
			font-size: 2.4rem;
			font-weight: 700;
			margin-bottom: 0.5em;
		}

		&-option {
			margin-bottom: 0.5em;

			&--disabled {
				color: #777;
			}
		}

		&-btn {
			position: relative;
			width: 50%;
			margin: 1em 0;
			background: none;
			font-size: 1.6rem;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			z-index: 2;
			overflow: hidden;
			transition: color 0.3s;

			&::before {
				@include before;
				height: 100%;
				width: 100%;
				background-color: $special-color;
				transform: translateX(-101%);
				z-index: -1;
				transition: transform 0.5s;
			}

			&:hover {
				color: $white;
			}

			&:hover::before {
				transform: translateX(0);
			}
			&--highlighted {
				transition: color 0.3s, box-shadow 0.3s;

				&::before {
					background-color: $special-color;
					transform: translateX(0);
				}

				&:hover {
					box-shadow: 0 0 10px $special-color;
				}
			}
		}
	}

	&__text {
		margin-top: 0.5em;
		line-height: 1.4;
		text-align: center;

		&-link {
			position: relative;
			color: $special-color;
			font-weight: bold;
			cursor: pointer;
			padding: 0.1em 0.5em;
			transition: color 0.3s;
			z-index: 10;
		}
	}
}

.ti-check {
	color: $special-color;
}
.ti-minus {
	color: #777;
}

.ti-minus,
.ti-check {
	margin-right: 0.5em ;
}
